<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "testng-1.0.dtd">
<suite name="Testng Suite">
  <test thread-count="1" name="Annotations Chcek Test">
	  
	  <classes>
		  
		  <class name="BasicTest.LoginTest"/>
	  </classes>
    <!-- Include test classes here -->
  </test> <!-- Test -->
</suite> <!-- Suite -->